.is-active {
    text-align: center;
    margin-top: 0px;
    order: 1;
}
.is-click {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.site-favorite{
    order: 2;
}