.is-active {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $primary-violet-color;
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    order: 1;
}
.is-click {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
}
.site-favorite{
    order: 2;
}
