@media(min-width: 768px ){
    body{
        width: 450px;
    }
    .search-form__input{
        width: 365px;
        margin-right: 15px;
    }
    .search-answer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media(min-width: 1024px){
    body{
        width: 926px;
    }
    .search-form__input{
        width: 450px;
        margin-right: 15px;
    }
}