.pop-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  
  .pop-up_active .pop-up {
    z-index: 1000;
    opacity: 1; }
  
  .pop-up__wrapper {
    width: 80%;
    height: 80%;
    position: relative; }
  
  body:not(.pop-up_active) .pop-up__img {
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in-out 0.3s;
    -o-transition: all 0.6s ease-in-out 0.3s;
    transition: all 0.6s ease-in-out 0.3s;
    -o-object-fit: cover;
       object-fit: cover; }
  
  .pop-up_active .pop-up__img {
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 1; }
  
  .pop-up__btns {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: #673ab7;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    width: 114px; }
  
  .pop-up__btn {
    border: none;
    height: 12px;
    width: 12px;
    background: transparent;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center; }
    .pop-up__btn:hover {
      opacity: 0.7; }
  
  .pop-up__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; 
    }
  
  .btn_prev {
    background-image: url("../images/prev.png");
    margin-right: 10px;
    width: 8px; 
    outline: 0px;
    cursor: pointer;}
  
  .btn_next {
    background-image: url("../images/next.png");
    width: 8px;
    outline: 0px; 
    cursor: pointer;}
  
  .btn_select {
    background-image: url("../images/star.png");
    outline: 0px; 
    cursor: pointer;}
  
  .btn_close {
    background-image: url("../images/close.png"); 
    outline: 0px;
    cursor: pointer;}

  