.search-answer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 31px;
}

.search-answer__image{
    background: $background-image-color;
    width: 209px;
    height: 122px;
    position: relative;
    &:not(:last-child){
        margin-bottom: 15px;
    }
    img {
      max-width: 100%;
      height: 100%;
    }
}

.btn_remove{
    background-image: url(../images/close.png);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
}


