/*import partials below*/

@import 'helpers/variables.scss';
@import 'helpers/placeholders.scss';
@import 'base.scss';
@import 'normalize.scss';


/*header*/
@import 'header/favorite.scss';
@import 'header/logo.scss';

/*main*/
@import 'main/main-container.scss';
@import 'main/search-form.scss';

@import 'main/search-answer.scss';
@import 'main/search-btn.scss';









