.site-favorite{
    font-family: Roboto;
    font-size: 16px;
    text-align: right;
    transform: scaleX(1.0002);
    margin-top: 34px;

    &__link {
      color: $primary-violet-color;
      text-decoration: none;
    }
}
.site-favorite:before{
    content: "\2605";
    color: $primary-violet-color;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 20px;
}
