.site-favorite{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    transform: scaleX(1.0002);
    margin-top: 34px;

    &__link {
      color: $primary-violet-color;
      text-decoration: none;
    }
}
.site-favorite:before{
    content: "";
    display: inline-block;
    background: url(../../images/icon.png) no-repeat;
    width: 14px;
    height: 14px;
    margin-right: 20px;
}
